<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>'first . html'</title>
</head>
<body>
<h2>{{fname}} {{lname}} </h2>
<!--<form action="/getupdatevalue/" method="post">-->
<!--    <input type="hidden" value={{email}} name="email">-->
<!--    <input type="hidden" value={{username}} name="username">-->
<!--    <input type="hidden" value={{fullname}} name="fullname">-->
<!--&lt;!&ndash;    <input type="hidden" value={{phone}} name="phone">&ndash;&gt;-->
<!--&lt;!&ndash;     {"email": email,"username":username,"fullname":fullname,&ndash;&gt;-->
<!--    <button>update profile</button>-->

<!--&lt;!&ndash;    <a href="http://127.0.0.1:8000/update_profile/">update profile</a>&ndash;&gt;-->

<!--</form>-->

    <a href="http://127.0.0.1:8000/profile/">profile Ui</a>


</body>
</html>